.signup-container {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 0;
  width: 22rem;
  display: flex;
  /* padding-top: 1rem; */
  /* overflow: hidden; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
  border-radius: 9px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  /* transform: translate(-50%, -60%); */
  background-color: white;
}
.form-cotnainer {
  width: 100%;
  padding: 2rem 2rem;
  /* padding-top: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 9px;
  /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06); */
  background-color: white;
}
.header {
  align-self: center;
  background: linear-gradient(to right, #a1c4fd, #1e3c72);
  /* background: linear-gradient(135deg, #2a5298 0%, #3b6cb7 50%, #2d2d5a 100%); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2.7rem;
  font-weight: bold;
  text-align: center;
}
.form-cotnainer label {
  font-weight: 500;
}
.form-cotnainer input {
  width: 100%;
  height: 2.5rem;
  margin-top: 0.9rem;
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(167, 167, 167);
  font-size: 1rem;
  outline: none;
}

.signup-button {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #1a365d;
  background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
  cursor: pointer;
  transition: background-position 0.5s ease, color 0.4s ease-in-out,
    background-color 0.4s ease;
  margin-top: 1.5rem;
}
.signup-button:hover {
  /* background: #2c5282; */
  background: linear-gradient(135deg, #3b6cb7 0%, #4a7fc9 50%, #3d3d7a 100%);
  /* background-position: left bottom; */
  color: white;
}
